
$green-000: #0d9488; // teal-600
$green-100: #0f766e; // teal-700
$green-200: #115e59; // teal-800
$green-300: #134e4a; // teal-900

$link-color: $green-100;
$sidebar-color: #f8fafc; // slate-50

.nav-list > .nav-list-item > a.nav-list-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.note-title > p > strong {
  color: #381885;
  padding-top: 0.5rem;
  // display: block;
}
